div.page-header
  h2 Detailed post

div.row-fluid
  div.span1.vote
    | {{votes}}
    br
    button.btn.btn-warning(ng-click='vote(id)') Vote
  div.span10
    div.posttitle
      a(href='{{item.link}}') {{title}}
    div.authorname.text-warning {{author}}
    p {{description}}
    hr
    form(ng-show='logged')
      label Submit a comment
      textarea(cols='200', ng-model='textComment')
      div
        button.btn.btn-primary(ng-click='submitComment()') Comment
    blockquote(ng-hide='logged')
      | <a href='login'> login </a> or <a href='register'> register </a> to post comments

    blockquote(ng-repeat='comment in comments')
      div.comment-text.text-warning {{comment.author}} - {{comment.date | date:'dd/MM/yyyy hh:mm:ss'}}
      div.comment-text {{comment.body}}

