div.page-header
  h2 Detailed post

div.row-fluid
  div.span1.vote
    | {{votes}}
    br
    button.btn.btn-warning Vote
  div.span9
    h2
      a(href='{{item.link}}') {{title}}
    small {{author}}
    p {{description}}
    hr
    blockquote(ng-repeat='comment in comments') {{comment}}

