div.page-header
  h2 Detailed post

div.row-fluid
  div.span1.vote
    | {{votes}}
    br
    button.btn.btn-warning Vote
  div.span9
    h2
      a(href='{{item.link}}') {{title}}
    h4.text-warning {{author}}
    p {{description}}
    hr
    form(ng-show='logged')
      label Submit a comment
      textarea(ng-model='textComment')
      div
        button.btn.btn-primary(ng-click='submitComment()') Comment
    blockquote(ng-hide='logged')
      | <a href='login'> login </a> or <a href='register'> register </a> to post comments

    blockquote(ng-repeat='comment in comments')
      small.text-info {{comment.author}} - {{comment.date}}
      small {{comment.body}}

