div.page-header
  h2 Actual News

div.row-fluid(ng-repeat='item in list')
  div.span1.vote
     | {{item.votes}}
     br
     button.btn.btn-warning Vote
  div.span9
    div.posttitle
      a(href='{{item.link}}') {{item.title}}
    h4.text-warning {{item.author}}
    p {{item.description}}
