div.page-header
  h2 Actual News

div.row-fluid(ng-repeat='item in list')
  div.span1.vote
     p {{item.votes}}
     br
     button.btn.btn-warning(ng-click='vote(item.id)') Vote
  div.span10
    div.posttitle
      a(href='{{item.link}}') {{item.title}}
    h4.text-warning {{item.author}}
    p {{item.description}}
    div
      a.text-warning(ng-href="detail/{{item.slug}}") {{item.comments.length}} Comments
