h1 Register form
form
    label Username
    input(type='text', ng-model='username')
    label Password
    input(type='password', ng-model='password')
    input(type='submit', value='Register', ng-click='register()')

h2 {{ action }} {{ result }}