extends layout

block body
  div(ng-controller='altCtrl')

    div.navbar.navbar-static-top.navbar-inverse
      div.navbar-inner
        div.container
          a.brand(href='/') JSopoly

          ul.nav
            li
              a(href='#',ng-click="sync('top')",eat-click='eat-click') Actual
            li
              a(href='#',ng-click="sync('pop')",eat-click='eat-click') Popular
            li
              a(href='#',ng-click="sync('upc')",eat-click='eat-click') Upcoming
            li
              a(href='submit') Submit

          ul.nav.pull-right(ng-hide='logged')
            li
              a(href='register') Register
            li
              a(href='login') Login

          ul.nav.pull-right(ng-show='logged')
            li.dropdown
              a(href='profile') Welcome {{username}}

    div.container
      div.row
        div.span9
          div(ng-view)
        div.span3
          div.lateral
            div
              form
                input.span2(type='text',ng-model='mySearch')
                button.btn.btn-danger(style='height:30px;vertical-align:top;padding-top:5px;margin-left:3px;width:22%;',ng-click='search()') Go!
            div
              div.sectiontitle
                a(href='about') What's Jsopoly?
              p Jsopoly is a Javascript community driven site to share news, experiences and informacion in a digg's style
            div
              p.sectiontitle Upcoming News
              ul.unstyled
                li(ng-repeat='post in lastPosts')
                  a(ng-ref='detail/ + {{post.slug}}') [{{post.author}}] {{post.title}}


  script(src='http://code.jquery.com/jquery-1.9.1.min.js')
  script(src='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js')
  script(src='js/lib/angular/angular.js')
  script(src='/socket.io/socket.io.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
