!!!
html(ng-app="alt")
  head
    meta(charset='utf8')
    base(href='/')
    title Jsopoly
    link(rel='stylesheet', href='css/bootstrap.css')
    link(rel='stylesheet', href='css/alt.css')
  body
    block body