

/* Special grid styles
-------------------------------------------------- */


.vote {
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #eee;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    min-height: 40px;
    min-width: 60px;
    line-height: 40px;
}

.lateral {
    margin-top:30px;
    padding: 10px;
    background-color: #eeeeee;
}

.footer {
    margin-top:30px;
    padding: 10px;
    background-color: #333333;
    color: #e6e6e6;
}

.sectiontitle {
    font-size:1.4em;
    padding:0 0 4px 0;
    border-bottom:1px solid #ddd;
    margin-bottom: 6px;
}

.posttitle {
    font-size:1.2em;
    margin-top: 10px;
}

.authorname {
    font-size: 0.8em;
}

.authorname {
    font-size: 0.8em;
}